<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-success" (click)="increment()">
        +
      </button>
      <button type="submit" class="btn btn-danger" (click)="decrement()">
        -
      </button>
      {{ total }} {{ title }}
      <div *ngIf="allDetails">
        <div *ngFor="let details of allDetails">
          {{ details.date.toISOString() }} s'est produit un
          {{ details.buttonClicked }}
        </div>
      </div>
    </div>
  </div>
</div>
